{{#extend "admin_base"}}

  {{#content "title"}} - Admin{{/content}}


  {{#content "pagebody"}}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Article List</h1>

        <div class="panel panel-default">

          <div class="panel-heading">
            Article List
          </div>

          <div class="panel-body">

            <!-- <label for="number-selector">Number of entries to show</label> -->
            <!-- <select -->
            <!--       class="form-control" -->
            <!--       id="number-selector" -->
            <!--       style="margin-bottom: 2em;" -->
            <!--       onchange="setListLimit(this)"> -->
            <!--   <option value="10">Less</option> -->
            <!--   <option value="25" selected>Default</option> -->
            <!--   <option value="50">More</option> -->
            <!--   <option value="1e+20">All</option> -->
            <!-- </select> -->

            <table class="table table-hover table-bordered" id="article-table">
              <thead>
                <th>#</th>
                <th>title</th>
                <th>publish_time</th>
                <th>content</th>
              </thead>
              <tbody>
                <!-- default data -->
                <!-- <tr> -->
                <!--   <td>1</td> -->
                <!--   <td>uvuvewvwev</td> -->
                <!--   <td>1970-01-01</td> -->
                <!--   <td>nyaaaaaaan</td> -->
                <!-- </tr> -->
              </tbody>
            </table>

          </div>
          <!-- panel-body -->

        </div>
        <!-- panel-default -->

      </div>
      <!-- col -->

    </div>
    <!-- row -->

    <div class="modal fade" id="delete-confim-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Your Action</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you'd want to delete this article? There is no going back!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- container -->

  {{/content}}


  {{#content "inlinejs"}}
  <script type="text/javascript">

    //////// Helper Functions ////////

    function reRenderTable(tab, data) {
      return tab.DataTable()
      .clear()          // clear all data
      .rows.add(data)   // re-fill with new data
      .draw();          // render and return
    }


    function setListLimit(e) {
      document.gCurrentListLimit = e.value;
      console.log(`document.gCurrentListLimit ==> ${e.value}`);
      return e;
    }


    //////// Jobs ////////

    $(document).ready(function() {
      // HACK: query start_time, binded to the current page object,
      //       should be early enough
      document.gCurrentStartTime = new Date('1970-01-10');
      document.gCurrentListLimit = 25;
      // retrieve data from server
      $.ajax({
        url: "/article_list/list",
        method: "GET",
        data: {
          "start_time": document.gCurrentStartTime
        },
        success: (data) => {
          if (data.code === 200) {    // success code
            // initalize DataTables
            // NOTE: Init only ONCE!
            let table = $("#article-table").DataTable({
              responsive: true,
              // paging: false,
              lengthMenu: [
                [10, 25, 50, 1e+20],
                ["Less", "Medium", "More", "All"]
              ],
              select: "single",
              dom: "B<fl<t>ip>",
              buttons: [
                "colvis",
                {
                  extend: "selected",
                  text: "Edit",
                  action: function(e, dt, but, conf) {
                    console.log(`Edit button pressed!`)
                  }
                },
                {
                  extend: "selected",
                  text: "Delete",
                  action: function(e, dt, but, conf) {
                    console.log(e);
                    console.log(`Delete button pressed!`);
                  }
                }
              ],
              data: data.data,
              columns: [
                { "data": "ID" },
                { "data": "title" },
                { "data": "publish_time" },
                { "data": "content" }
              ],
            });
            // bind custom events after creation
            // NOTE: Use native components and events
            // table.on("length.dt", function(e, settings, length) {
            //   console.log(`page length changed to ${length}`);
            // });
          } else {    // request error
            console.log(`Request Failed with: `, data);
          }
        },
        error: (ret) => {
          console.log(ret);
        }
      });
    });

  </script>
  {{/content}}

{{/extend}}
